body {
  background-color: tan; 
}
/* Navbar */

#navbar {
  background-color: black; 
  color: white; 
  padding: 1em; 
}

#navbar ul {
  display: flex; 
  list-style-type: none;
  flex-direction: row; 
  justify-content: flex-end; 
}

#navbar ul li {
  margin-right: 10px; 
}

#navbar ul li a:hover {
  background-color:blueviolet;  
  text-decoration: underline;
}

#navbar ul li a {
  text-decoration: none;
  color: white; 
  font-size: 18px; 
}

/* Form */ 

#loginForm {
  display: flex; 
  margin: 0 auto; 
  flex-direction: column; 
  max-width: max-content; 
  align-items: center;
  margin-top: 2em;
  border: 1px solid black; 
  padding: 20px; 
}

loginForm button {
  margin-top: 1em; 
}